body{
    background-color: #2b2b2b;
}

.container {
    margin-top:0px;
    padding-top:0px;
}

.card{
    padding-top: 0px;
    /* margin-top: 0px; */
    height: 185px;
}

.noselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title, h2, h3{
    margin-left: 0.7em;
    margin-top: 0.7em;
    margin-bottom: 1em;
}

.text, a:visited, a:link{
    color: white;
    text-decoration: none;
}

.content ul{
    padding: 0;
    list-style-type:none;
}
.content ul:after{
    clear:both;
}
.content li{
    float: left;
    margin-left: 2em;
    margin-bottom: 1em;
}
.content li:after{
    clear:both;
}

#navbar{
    position: fixed;
    /* background-color: rgba(70, 70, 70, 0.75); */
    background-color: black;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2.75em;
    display: flex;
    justify-content: space-around;
}

#navbar > button{
    background-color: transparent;
    /* border-color: beige; */
    border-color: transparent;
    border-radius: 5%;
    width: 100%;
    font-size: 1.5em;
}